{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Bienvenue sur l'interface d'administration de votre site d'annonce.</p>

		<div class="row justify-content-md-center">
			<div class="col">
				<button type="button" class="btn btn-primary position-relative">
					Utilisateur
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						{{countAllUsers['value']}}
						<span class="visually-hidden">unread messages</span>
					</span>
				</button>

			</div>
			<div class="col">
				<button type="button" class="btn btn-primary position-relative">
					annonces
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						{{countAllAnnounces['value']}}
						<span class="visually-hidden">unread messages</span>
					</span>
				</button>

			</div>
			<div class="col">
				<button type="button" class="btn btn-primary">
					Commentaires
					<span class="badge bg-secondary">4</span>
				</button>
			</div>
		</div>
	</div>
</div>{% endblock %}
