{% extends 'user.html.twig' %}

{% block title %}Editer Annonce{% endblock %}

{% block body %}
    <h1>Editer Annonce</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn shadow-1 rounded-1 outline txt-blue" href="{{ path('user_index') }}"><span class="outline-text">Retour</span></a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
